[Unit]
Description=Telegram proxy checker
Wants=network-online.target
After=network-online.target
[Service]
Restart=always
WorkingDirectory=/opt/telegram_proxy_checker
ExecStart=bash -c "docker compose -f /opt/telegram_proxy_checker/docker-compose.yml --profile 'app' up"
ExecStop=bash -c "docker compose -f /opt/telegram_proxy_checker/docker-compose.yml down -v"
[Install]
WantedBy=multi-user.target