STAGE="dev"

APP_HOST="127.0.0.1"
APP_PORT="8000"
DEBUG="False"
LOG_LEVEL="info"
LOG_TYPE="plain"
API_ROOT_PATH=

POSTGRES_DB_PORT="5432"
POSTGRES_DB="tpc"
POSTGRES_USER="tpc_user"
POSTGRES_PASSWORD="postgrespwd"
DB_HOST="localhost"

TIME_ZONE=3

TASKIQ_BROKER_URL="amqp://guest:guest@127.0.0.1:5672"
# TASKIQ_BROKER_TYPE="aio-pika"
TASKIQ_BROKER_TYPE="in-memory"
# optional taskiq intervals in seconds
TASKIQ_SCHEDULES_UPDATE_INTERVAL="3600"
TASKIQ_SCHEDULER_LOOP_INTERVAL="300"